body,
html {
    height: 100%
}

#nav-text {
    float: left;
}

#logo {
    width: 170px;
    height: 60px;
}

#search {
    position: absolute;
    right: 50px;
    border: none;
}

#searchbox {
    position: absolute;
    right: 20px;
    border: none;
}

.dropdown {
    display: none;
}

::placeholder {
    color: white;
}

#font {
    font-family: 'Staatliches', arial;
}

h1 {
    padding-top: 75px;
}

.navbar {
    top: 0;
    position: fixed;
    width: 100%;
}

/*MEDIA*/

@media only screen and (max-width: 775px) {
    .nav-item {
        display: none;
    }

    .dropdown {
        display: block;
    }
}

@media only screen and (max-width: 580px) {
    #search {
        display: none;
    }

    #searchbox {
        display: none;
    }

    .image-gallery {
        flex-direction: column;
        align-items: center;
    }

    .gallery {
        margin-bottom: 20px;
    }
}



/*GALLERY LISTINGS*/

.image-gallery {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.gallery {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    width: 180px;
    box-shadow: -6px 6px 14px -1px rgba(0, 0, 0, 0.29);
    transition: 0.3s;
}

.gallery:hover {
    box-shadow: -7px 8px 11px -1px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

label {
    font-size: 18px;
}

/*CREATE LISTING*/

.form-group {
    margin-right: 20px;
    margin-left: 20px;
}

/*SHAPES*/

.block {
    width: 300px;
    height: 800px;
    transform: rotate(35deg);
    position: fixed;
    bottom: -300px;
    right: -45px;
    z-index: -1;
}

.block2 {
    width: 300px;
    height: 825px;
    transform: rotate(60deg);
    position: fixed;
    bottom: -425px;
    right: 250px;
    z-index: -1;
}


.block3 {
    width: 300px;
    height: 300px;
    transform: rotate(60deg);
    position: fixed;
    bottom: -225px;
    right: -100px;
    z-index: -1;
}