body {
    background-image: url(https://pbs.twimg.com/media/DwdjztgW0AEI01E.jpg:large
)
}

.middle {
    display: block;
    margin-left: 37.5%;
    font-size: 24px;
}

.middle2 {
    margin-left: 41%;
    font-size: 24px;
}

.middle3 {
    margin-left: 35.5%;
    font-size: 24px;
}

.middle4 {
    margin-left: 27.5%;
    font-size: 20px;
}

#log-in-btn {
    margin-right: 30px;
}

.navbar {
    background-color: purple !important;
    position: fixed;
    width: 100%;
    top: 0;
}

.text-dark {
    color: #e0e0e0!important;
    z-index: 1;
}

.btn-primary {
    background-color: purple;
    border: none;
    color: #e0e0e0
}

.fake-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

#margin {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

#sign-up {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

li {
    list-style-type: none;
    border-bottom: solid 2px;
    font-size: 20px;
    border-color: #e0e0e0;
    color: #e0e0e0;
    margin-top: 10px;
    margin-right: 50px;
}

p {
    font-size: 20;
    color: #e0e0e0;
}

#home {
margin-top: 30%;  
}

/*CUSTOM ICONS*/

.nav-map {
    width: 30px;
    margin-bottom: -5px;
}

.nav-friends {
    width: 60px;
}

.nav-logout {
    width: 55px;
}

.logo {
    width: 140px;

}

#friends {
    width: 170px;
    margin-top: 30%;
}

/*SHAPES*/

#circle {
    width: 100px;
    height: 100px;
    border: solid  black;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    top: 600px;
    left: 20px;
  }