body,
html {
    height: 100%
}

#nav-text {
    float: left;
}

#logo {
    width: 170px;
    height: 60px;
}

#search {
    position: absolute;
    right: 50px;
    border: none;
}

#searchbox {
    position: absolute;
    right: 20px;
    border: none;
}

.dropdown {
    display: none;
}

::placeholder {
    color: white;
}

/*MEDIA*/

@media only screen and (max-width: 775px) {
    .nav-item {
        display: none;
    }
}

@media only screen and (max-width: 775px) {
    .dropdown {
        display: block;
    }
}

@media only screen and (max-width: 580px) {
    #search {
        display: none;
    }

    #searchbox {
        display: none;
    }
}

/*SHAPES*/

.background {
    width: 300px;
    height: 100vh;
    background-color: #eeeeee;
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    .block {
        width: 300px;
        height: 800px;
        transform: rotate(35deg);
        position: fixed;
        bottom: -300px;
        right: -45px;
        z-index: -1;
    }

    .block2 {
        width: 300px;
        height: 825px;
        transform: rotate(60deg);
        position: fixed;
        bottom: -425px;
        right: 250px;
        z-index: -1;
    }